.collapsible {
    background-color: #f4e6d4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 400px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapsible:hover {
    background-color: bisque;
}
.content {
    display: none;
    overflow: hidden;
    width: 400px;
    text-align: center;
    margin-left: 150px;
}
#leftarrow {
    position: fixed;
    left: 0;
    font-size: 4em;
    padding: 5px;
    margin-left: 10px;
    opacity: 0.5;
    text-shadow: 0 0 1px #4d563b;
}
#leftarrow:hover {
    color: #2f3523;
}
#rightarrow {
    position: fixed;
    right: 0;
    font-size: 4em;
    padding: 5px;
    margin-right: 10px;
    opacity: 0.5;
    text-shadow: 0 0 1px #4d563b;
}
#rightarrow:hover {
    color: #2f3523;
}
footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: #9BA17F;
    color: #E8E4DB;
}
header {
    background-color: #9BA17F;
    color: #E8E4DB;
}
a {
    color: #687351;
    background-color: bisque;
}
a:hover {
    color: #E8E4DB;
    background-color: #687351;
}
main {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    color: #687351;
    background-image: url('../images/crumpled_paper.jpg');
}
h3 {
    text-align: center;
    font-size: 1.75em;
    margin-top: 0;
    padding-top: 10px;
}
img {
    max-width: 100%;
}
.article-photo {
    justify-self: center;
}
#article-photo {
    display: grid;
    padding: 0 150px;
}
.author-small {
    height: 75px;
}
#author-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
}
#author-info p {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}
#date {
    margin-left: 60px;
}
main p {
    padding: 0 150px;
}
main button {
    margin-left: 150px;
}
p {
    font-family: 'EB Garamond', serif;
}
h3 {
    font-family: 'Quintessential', serif;
}